
@{
    ViewBag.Title = "No Permission";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <hr />
            <h2>You do not have permission to access this site!</h2>
        </div>
    </div>
</div>
